{{- if .IsHome -}}
  {{- /* Homepage: Use default og-image or banner */ -}}
  {{- with resources.GetMatch "images/og-image.{webp,png,jpg}" -}}
    {{- .RelPermalink -}}
  {{- else -}}
    {{- if site.Params.theme | default "light" | eq "dark" -}}
      {{- if fileExists "images/banner-dark.webp" -}}
        {{- "images/banner-dark.webp" | absURL -}}
      {{- end -}}
    {{- else -}}
      {{- if fileExists "images/banner-light.webp" -}}
        {{- "images/banner-light.webp" | absURL -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if .IsPage -}}
  {{- /* Single page/post: Check for featured_image in frontmatter first */ -}}
  {{- $hasImage := false }}
  {{- with .Params.featured_image -}}
    {{- if eq (substr . 0 4) "http" -}}
      {{- . -}}
    {{- else -}}
      {{- . | absURL -}}
    {{- end -}}
    {{- $hasImage = true }}
  {{- end -}}
  {{- if not $hasImage -}}
    {{- /* Try image parameter as fallback */ -}}
    {{- with .Params.image -}}
      {{- if eq (substr . 0 4) "http" -}}
        {{- . -}}
      {{- else -}}
        {{- . | absURL -}}
      {{- end -}}
      {{- $hasImage = true }}
    {{- end -}}
  {{- end -}}
  {{- if not $hasImage -}}
    {{- /* No image in frontmatter, fall back to default og-image or banner */ -}}
    {{- with resources.GetMatch "images/og-image.{webp,png,jpg}" -}}
      {{- .RelPermalink -}}
    {{- else -}}
      {{- if site.Params.theme | default "light" | eq "dark" -}}
        {{- if fileExists "images/banner-dark.webp" -}}
          {{- "images/banner-dark.webp" | absURL -}}
        {{- end -}}
      {{- else -}}
        {{- if fileExists "images/banner-light.webp" -}}
          {{- "images/banner-light.webp" | absURL -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}