{{- if .IsHome -}}
  {{- /* Homepage: Use default og-image or banner */ -}}
  {{- with resources.GetMatch "images/og-image.{webp,png,jpg}" -}}
    {{- .RelPermalink -}}
  {{- else -}}
    {{- if site.Params.theme | default "light" | eq "dark" -}}
      {{- if fileExists "images/banner-dark.webp" -}}
        {{- "images/banner-dark.webp" | absURL -}}
      {{- end -}}
    {{- else -}}
      {{- if fileExists "images/banner-light.webp" -}}
        {{- "images/banner-light.webp" | absURL -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if .IsPage -}}
  {{- /* Single page/post: Try featured_image from frontmatter first */ -}}
  {{- if .Params.featured_image -}}
    {{- .Params.featured_image | absURL -}}
  {{- else if .Params.image -}}
    {{- .Params.image | absURL -}}
  {{- else -}}
    {{- /* No post-specific image, fall back to default og-image or banner */ -}}
    {{- with resources.GetMatch "images/og-image.{webp,png,jpg}" -}}
      {{- .RelPermalink -}}
    {{- else -}}
      {{- if site.Params.theme | default "light" | eq "dark" -}}
        {{- if fileExists "images/banner-dark.webp" -}}
          {{- "images/banner-dark.webp" | absURL -}}
        {{- end -}}
      {{- else -}}
        {{- if fileExists "images/banner-light.webp" -}}
          {{- "images/banner-light.webp" | absURL -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}